@media (max-width: 830px) {

  .header-page__navigation {
    width: 60px;
    right: 50px;
  }

  .header-page__link  {
    width: 24px;
  }

  .header-page__link-image {
    width: 24px;
    margin: 0;
  }

  .header-page__link-text {
    display: none;
  }
}

@media (max-width: 600px) {

  .header-page__logos  {
    width: 150px;
    margin-left: 20px;
  }

  .header-page__logos-attention {
    width: 60px;
  }

  .header-page__logos-ok {
    width: 60px;
  }
}
