.header-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #EE8108;
}

.header-page__menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  width: 18px;
  height: 13px;
  cursor: pointer;
}

.header-page__menu-button-line {
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
}

.header-page__menu-button-line:nth-child(2) {
  width: 50%;
  transition: width 0.3s;
}

.header-page__navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 100px;
  width: 464px;
  height: 40px;
}

.header-page__navigation-line {
  height: 32px;
  width: 3px;
  background-color: white;
  margin: 0 10px;
  border-radius: 3px;
}

.header-page__link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 220px;
  height: 100%;
}

.header-page__link-image {
  width: 30px;
  margin: 0 8px;
}

.header-page__link-text {
  width: 190px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.header-page__logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
  width: 200px;
  height: 50px;
}

.header-page__logos-attention {
  width: 74px;
}

.header-page__logos-attention-wrapper {
  position: relative;
  display: block;
}

.header-page__logos-ok {
  width: 74px;
}
