.slider {
  position: relative;
  width: 100%;
}

.slider__image {
  position: relative;
  width: 100%;
}

.slider__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  position: absolute;
  top: 47%;
  width: 100%;
  padding: 0 20px;
}

.slider__button-left {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.slider__button-right {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
