/* @media (max-width: 1000px) {

  .menu__text {
    max-width: 95%;
    margin: 50px 0 40px;
    font-size: 14px;
    line-height: 16px;
  }

  .menu__pages {
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 40px 0 60px;
  }

  .menu__pages > a {
    width: 120px;
    height: 120px;
  }

  .menu__page {
    width: 100px;
    height: 100px;
  }
} */

/* @media (max-width: 630px) {
  .menu__pages > a {
    width: 110px;
    height: 110px;
  }

  .menu__page {
    width: 90px;
    height: 90px;
  }
} */

@media (max-width: 600px) {

  .menu__text {
    margin: 40px 0 20px;
    font-size: 16px;
    line-height: 120%;
    width: 100%;
    max-width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
  }

  .menu__buttons {
    flex-direction: column;
    /* width: 95%; */
    /* height: 120px; */
    /* justify-content: space-between; */
    align-items: center;
    margin: 10px 0 30px;
    gap: 20px;
  }

  .menu__pages {
    max-width: 380px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 0;
    margin-bottom: 40px;
  }

  .menu__page {
    width: 70px;
    height: 70px;
  }

  .menu__logos {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
  }

  .menu__attention-icon {
    width: 80px;
  }

  .menu__logo-black {
    width: 60px;
  }

  .menu__close {
    top: 10px;
    right: 10px;
    width: 20px;
  }
}

@media (max-width: 450px) {
  .menu__pages {
    max-width: 340px;
    align-content: flex-start;
  }

  .menu__page {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 400px) {
  .menu__page {
    width: 60px;
    height: 60px;
  }

  .menu__text {
    padding: 0 12px;
  }
}



@media (max-width: 360px) {
  .menu__pages {
    max-width: 300px;
    align-content: flex-start;
  }

  /* .menu__pages > a {
    width: 64px;
    height: 64px;
  }

  .menu__page {
    width: 50px;
    height: 50px;
  } */
}
