.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 177px; */
  font-size: 29px;
  line-height: 108%;
  /* height: 50px; */
  border-radius: 5px;
  padding: 24px 60px;
  box-sizing: border-box;
  width: 100%;
  max-width: 384px;
}

.button__text {
  font-family: 'Odnoklassniki'
}

@media (max-width: 1800px) {
  .button {
    font-size: 22px;
    padding: 18px 40px;
  }
}

@media (max-width: 1600px) {
  .button {
    font-size: 18px;
    padding: 14px 30px;
  }
}

@media (max-width: 1000px) {
  .button {
    font-size: 16px;
    padding: 10px 26px
  }
}

@media (max-width: 800px) {
  .button {
    font-size: 16px;
    padding: 10px 24px;
  }
}

@media (max-width: 600px) {
  .button {
    font-size: 16px;
    padding: 12px 30px
  }
}