html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: white;
  text-decoration: none;
}

@font-face {
    font-family: 'Odnoklassniki';
    src: url('./fonts/OK_Sans_Display_Medium.otf') format('opentype');
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: 'Odnoklassniki-Bold';
    src: url('./fonts/OK_Sans_Display_DemiBold.otf') format('opentype');
    font-weight: 600;
    font-display: fallback;
}
