.page-comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 40px 0;
  width: 80%;
}

.page-comment__photo {
  width: 20%;
  max-width: 120px;
  background-color: #C4C4C4;
  border-radius: 50%;
}

.page-comment__container {
  width: 70%;
  max-width: 726px;
  padding-left: 9%;
  padding-bottom: 20px;
  /* box-sizing: border-box; */
  /* padding: 0 36px 48px 40px; */
  background-color: #F7F7F7;
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 5% calc(100px - 12%), 0% calc(80px - 10%), 5% calc(60px - 8%))
}

.page-comment__author {
  padding: 15px 0 0;
}

.page-comment__comment {
  margin-bottom: 30px;
  font-size: 19px;
  line-height: 23px;
  font-weight: 500;
  font-family: "Odnoklassniki";
  color: #F9C03F;;
  /* color: #373A89; */
}

.page-comment__text {
  padding-bottom: 15px;
  width: 95%;
  overflow-y: auto;
  max-height: 1000px;
}

@media (max-width: 2000px) {
  .page-comment__text {
    max-height: 1200px;
  }
}

@media (max-width: 1700px) {
  .page-comment__text {
    max-height: 1300px;
  }
}

@media (max-width: 1600px) {
  .page-comment__text {
    max-height: 1000px;
  }
}

@media (max-width: 1500px) {
  .page-comment__text {
    max-height: 1100px;
  }
}

@media (max-width: 1200px) {
  .page-comment__text {
    max-height: 1200px;
  }
}

@media (max-width: 1000px) {
  .page-comment__text {
    max-height: 1400px;
  }
}

@media (max-width: 800px) {

  .page__comment {
    width: 90%;
  }

  .page-comment__comment {
    font-size: 11px;
    line-height: 13px;
  }

  .page__comment-container {
    width: 70%;
  }

  .page__comment-text {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 600px) {

  .page-comment {
    width: 100%;
  }

  .page-comment__container {
    background-color: white;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
    width: 76%;
  }

  .page-comment__photo {
    width: 16%;
  }

  .page-comment__comment {
    font-size: 9px;
    line-height: 11px;
  }

  .page-comment__text {
    max-height: 100%;
  }
}
