.page-comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 40px 0;
  width: 80%;
}

.page-comment__photo {
  width: 20%;
  max-width: 120px;
  background-color: #C4C4C4;
  border-radius: 50%;
}

.page-comment__container {
  width: 70%;
  max-width: 420px;
  padding-left: 9%;
  background-color: #F7F7F7;
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 5% calc(100px - 12%), 0% calc(80px - 10%), 5% calc(60px - 8%))
}

.page-comment__author {
  padding: 15px 0 5px;
}

.page-comment__comment {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Odnoklassniki";
  color: #373A89;
}

.page-comment__text {
  padding-bottom: 15px;
  width: 95%;
}

@media (max-width: 800px) {

  .page__comment {
    width: 90%;
  }

  .page-comment__comment {
    font-size: 11px;
    line-height: 13px;
  }

  .page__comment-container {
    width: 70%;
  }

  .page__comment-text {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 600px) {

  .page-comment {
    width: 100%;
  }

  .page-comment__container {
    background-color: white;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
    width: 76%;
  }

  .page-comment__photo {
    width: 16%;
  }

  .page-comment__comment {
    font-size: 9px;
    line-height: 11px;
  }
}
